<!DOCTYPE html>
<html>
<head>
	<title>hello page</title>
</head>
<body>
	<h1>Hello, Mr. <%=@name%></h1>
	<p>Current Time is <%=@time%> </p>
	<p>Times Displayed is <%=@Times_displayed%> </p>
</body>
</html>